<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PeevedPenguins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A05D65A1D215A4200829D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A05D6721D215A4300829D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A05D67D1D215A4300829D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
